body 
{
 font-family:Verdana;
 font-size:12px;
 background-color:#FFFFFF;
}
h1 {font-size:18px;color:#000000;margin-bottom:0px;}
h2 {font-size:16px;color:#000000;margin-bottom:0px;}
h3 {font-size:14px;color:#000000;margin-bottom:0px;}
p {margin-top:0px;}

code {font-size:14px;color:#0000ff;}
pre
{
 font-size:14px;
 color:#0000ff;
 padding:5px;
}
a:link, a:visited, a:active, a:hover
{ 
  text-decoration:none;
  font-weight:bold;
  color:#000080;
  font-size:12px;
}
a:active, a:hover
{ 
 text-decoration:underline;
}

img.icon
{
  margin-right:3px;
}
#left {
clear:right;
width:12%;
min-width: 100px;
float:left;
line-height:18px;
border:1px solid #000000;
background-color:#efefef;
padding:5px;
-moz-border-radius:10px;
}

#right {
float:right;
width:86%;
right: 10px;
} 
#title {
min-height:35px;
height:40px;
padding:5px;
border:1px solid #000000;
background-color:#efefef;
margin-bottom:20px;
-moz-border-radius:10px;
}
#content {
min-height:300px;
border:1px solid #000000;
background-color:#efefef;
padding:5px;
-moz-border-radius:10px;
}
#thisiswebinterfacemessage {
border:1px solid #000000;
background-color:#efefef;
padding:5px;
margin-bottom:10px;
-moz-border-radius:10px;
}


#warning { 
border:1px solid #000000;
background-color:#FF0000;
}
.searchstring {
  width: 100px;
}
